<p-button (click)="showDialog()" 
            icon="pi pi-external-link" label="Ingresar funcionario"
            [style]="{ 'background-color': '#689F38' }"
            >
</p-button>

<p-dialog header="Ingreso funcionario" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="miFormulario" >
        <input formControlName="nombre" type="text" pInputText placeholder="Nombre..."/>
        <input formControlName="apellido" class="mt-2" type="text" pInputText placeholder="Apellido..."/>
        <input formControlName="rut" class="mt-2" type="text" pInputText placeholder="Rut..."/>

    </form>
    
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="guardar()" label="Guardar" class="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="display=false" label="Cerrar"></p-button>
    </ng-template>
    
</p-dialog>
