<div class="p-grid p-fluid">
    <label >Abonar en caja</label>
    <div class="p-col-12 p-md-4">
        <form [formGroup]="miFormulario" (ngSubmit)="ingresar()" >
            <div class="p-inputgroup">
                <p-inputNumber placeholder="Ingresar abono"
                            formControlName="ingreso">
                </p-inputNumber>
                
                <span class="p-buttonset">
                    <button pButton type="submit" 
                    label="Abono" 
                    icon="pi pi-check"
                    class="ml-2">

                    </button>
                </span>  
            </div>
            <div class="mt-1">
                <p-message *ngIf="esValido()" 
                    severity="error" text="Debe ingresar un monto superior a 1 peso">
                </p-message>
            </div>
        </form>
    </div><!--Fin ingresos-->
    <app-form-dos ></app-form-dos>
</div>
