<div class="card">
    <p-table [value]="listaDeudores">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="apellido">Apellido <p-sortIcon field="apellido"></p-sortIcon></th>
                <th pSortableColumn="rut">Rut <p-sortIcon field="rut"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-persona>
            <tr>
                <td>{{persona.nombre |titlecase}}</td>
                <td>{{persona.apellido|titlecase}}</td>
                <td>{{persona.rut}}</td>
                <td>
                    <button pButton pRipple type="button" 
                    icon="pi pi-times" 
                    class="p-button-rounded p-button-danger p-button-text"
                    (click)="confirm($event, persona.id)"
                    >
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-confirmPopup></p-confirmPopup>
</div>
