<p-card>
    <ng-template pTemplate="subtitle">
        <h2 class="text-primary m-0" >Deudores</h2>
        <hr class="m-0" >
    </ng-template>
    
    <p-table [value]="listaDeudores |activos " responsiveLayout="scroll" 
            styleClass="p-datatable-striped p-datatable-sm"  [scrollable]="true" [rows]="10" 
            scrollHeight="400px" [paginator]="true" [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} deudores"
            [rowsPerPageOptions]="[10,25,50]" >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
                <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                <th pSortableColumn="apellido">Apellido <p-sortIcon field="apellido"></p-sortIcon></th>
                <th pSortableColumn="rut">Rut <p-sortIcon field="rut"></p-sortIcon></th>
                <th >Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-persona>
            <tr  >
                <td>{{persona.fecha | date}}</td>
                <td>{{persona.nombre |titlecase}}</td>
                <td>{{persona.apellido|titlecase}}</td>
                <td>{{persona.rut}}</td>
                
                <td  >
                    <button *ngIf="usuarioAdmin" pButton pRipple type="button" 
                        icon="pi pi-times" 
                        class="p-button-rounded p-button-danger p-button-text"
                        (click)="confirm($event, persona.id)">
                    </button>
                    <button pButton pRipple type="button" 
                        icon="pi pi-file-pdf" 
                        class="p-button-rounded p-button-success p-button-text"
                        (click)="generarPdf(persona.nombre, persona.apellido, 
                        persona.ingreso, persona.rut)">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-confirmPopup></p-confirmPopup>
</p-card>
