<p-card >
    <ng-template pTemplate="header">
        <h1 class="title" >Inicio</h1>
    </ng-template>

    <app-form></app-form>
    
<div class="grid pt-0 mt-2">
    <div class="col-6 sm:col-4">
        <p-card header="Fecha" >
            {{fecha | date:'dd-MMMM-yyyy'}}
        </p-card>  
    </div>
    <div class="col-6 sm:col-4">
        <p-card header="Abonos" id="abonos" >
            {{ abonos | currency:'CLP'}}
        </p-card>
    </div>
    <div class="col-6 sm:col-4">
        <p-card header="Gastos" #gasto >
            {{ gastos | currency:'CLP'}}
        </p-card> 
    </div>
</div>
<p-card  >
    <div class="flex card-container flex-wrap justify-content-around ">
    <div class="flex align-items-center">
        <h3 class=" inline " >
        <span class="subtitle" >En caja: </span> <i class="pi pi-dollar" ></i>{{enCaja | number}}
    </h3>
</div>
<div class="tags">
    <p-knob [(ngModel)]="value" valueTemplate="{value}%" valueColor="var(--primary-color)"
      rangeColor="#FBC02D" class="inline"> 
    </p-knob>
    
        <p-tag value="Ingresos" ></p-tag>
        <p-tag value="Gastos" severity="warning" styleClass="ml-2" ></p-tag>
    </div>
</div>
</p-card> 