<p-card >
    <ng-template pTemplate="header">
        <h1 class="title" >Inicio</h1>
        <hr>
    </ng-template>

    <app-form></app-form>
    
<div class="grid pt-0 mt-2">
    <div class="col-6 sm:col-4">
        <p-card header="Fecha" >
            <ng-template pTemplate="subtitle" >
                <p class="font-bold">{{fecha | date:'dd-MMMM-yyyy'}}</p>
            </ng-template>
            
        </p-card>  
    </div>
    <div class="col-6 sm:col-4">
        <p-card class="text-green-600" header="Abonos" id="abonos" >
            <ng-template pTemplate="subtitle" >
                <p class="text-green-600 font-bold" >{{ abonos | currency:'CLP'}}</p>
            </ng-template>
            
        </p-card>
    </div>
    <div class="col-6 sm:col-4">
        <p-card header="Gastos" #gasto >
            <ng-template pTemplate="subtitle" >
                <p class="text-pink-600 font-bold" >{{ gastos | currency:'CLP'}}</p>
            </ng-template>
            
        </p-card> 
    </div>
</div>
<p-card  >
    <div class="flex card-container flex-wrap justify-content-around ">
        <div class="flex align-items-center">
                <h2 >En Caja:</h2> 
                <i class="pi pi-dollar" ></i> 
                <strong class="text-2xl" 
                    [ngClass]="{ 'text-green-600': valorGrafica > 30, 'text-pink-600': enCaja < 30 }" > 
                    {{enCaja | number}}
                </strong> 
        </div>
        <div class="tags">
            <p-knob [(ngModel)]="valorGrafica" valueTemplate="{value}%" valueColor="var(--primary-color)"
            rangeColor="#FBC02D" class="inline"> 
            </p-knob>
            
            <p-tag value="Gastos" ></p-tag>
            <p-tag value="Abonos" severity="warning" styleClass="ml-2" ></p-tag>
        </div>
    </div>
</p-card> 