<p-card>
    <ng-template pTemplate="subtitle">
        Historial
    </ng-template>   
    <p-table  styleClass="p-datatable-striped p-datatable-sm" [value]="listaIngresos" 
                [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
                [rowsPerPageOptions]="[10,25,50]"
                responsiveLayout="scroll" [scrollable]="true" scrollHeight="500px">

        <ng-template  pTemplate="header">
            <tr >
                <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
                <th pSortableColumn="rut">Rut <p-sortIcon field="rut"></p-sortIcon></th>
                <th pSortableColumn="abono">Monto <p-sortIcon field="abono"></p-sortIcon></th>
                <th>Detalle</th>
                <th *ngIf="usuarioAdmin">Acción</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.fecha | date}}</td>
                <td>{{product.rut}}</td>
                <td >
                    <div [ngClass]="{'gastos': product.tipo == 'gasto','abonos':product.tipo == 'abono' }" >
                        {{product.ingreso | currency:'CLP'}}
                    </div>
                </td>
                <td>{{product.detalle}}</td>
                <td *ngIf="usuarioAdmin" >
                    <button pButton pRipple type="button" 
                    icon="pi pi-times" 
                    class="p-button-rounded p-button-danger p-button-text"
                    (click)="confirm($event, product.id)"
                    >
                    </button>
                    <button pButton pRipple type="button" 
                    icon="pi pi-pencil" 
                    class="p-button-rounded p-button-primary p-button-text"
                    (click)="showDialog(product.id)"
                    >
                    </button>
                </td>
            </tr>
        </ng-template>
        
    </p-table>
    <p-confirmPopup></p-confirmPopup>
</p-card>

<p-dialog header="Modificar" [(visible)]="display" 
[modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    [draggable]="false" [resizable]="false">

    <form [formGroup]="miFormulario" >
        <span class="p-float-label">
            <p-inputNumber formControlName="ingreso" class="p-inputtext-lg" 
            id="float-input" 
            type="number" ></p-inputNumber> 
            <label for="float-input">Monto</label>
        </span>
    </form>
        <ng-template pTemplate="footer">
            <button pButton type="button" (click)="editarIngreso( )"
                class="p-button-raised p-button-success">
                Modificar Monto
            </button>
            <button pButton (click)="display=false"
             type="button" class="p-button-raised p-button-danger ">Cerrar</button>
        </ng-template>
    
</p-dialog>
<p-toast></p-toast>