<div class="grid">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="mt-2">
            <p-button (click)="showDialog()" 
            icon="pi pi-external-link" label="Ingresar gasto"
            [style]="{ 'background-color': '#FBC02D' }">
            </p-button>
        </div>
    </div>
    <div class="col-4"></div>

</div>
<p-dialog header="Ingresar gasto" [(visible)]="display" 
[modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    [draggable]="false" [resizable]="false">
    
    <form [formGroup]="miFormulario" >
        <div class="p-inputgroup">
            <p-inputNumber placeholder="Ingresar monto"
                           formControlName="gasto"  ></p-inputNumber>
            <input class="ml-1" 
            type="text" 
            formControlName="rut"
            placeholder="Rut..." pInputText />  
        </div>
        <div class="mt-1">
            <p-message *ngIf="esValido('gasto')" 
                        severity="error" text="Debe ingresar un monto superior a 1 peso">
            </p-message>
            <div class="mt-1">   
                <p-message class="mt-1" *ngIf="esValido('rut')" 
                            severity="error" text="Debe ingresar un rut valido">
                </p-message>
            </div>
        </div>
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Nombre..." formControlName="nombre" />
            <input class="ml-1" type="text" pInputText placeholder="Apellido..." formControlName="apellido" />  
        </div> 
        <div class="mt-1">
            <p-message *ngIf="esValido('nombre')" 
                        severity="error" text="Debe ingresar un nombre">
            </p-message>
            <div class="mt-1">
                <p-message *ngIf="esValido('apellido')" 
                            severity="error" text="Debe ingresarun apellido">
                </p-message>
            </div>
        </div>  
        <div class="p-inputgroup mt-2">
            <textarea  pInputTextarea 
                formControlName="detalle"
                placeholder="Agregar Detalle..."></textarea>
        </div>
    </form>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" 
            (click)="guardar()"
            label="Guardar" class="p-button-text">
        </p-button>
            <p-button icon="pi pi-times" (click)="display=false" label="Cerrar"></p-button>
        </ng-template>
    
</p-dialog>
<p-toast></p-toast>


